{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome versions"
          ]
        },
        "modules": false,
        "useBuiltIns": false,
        "debug": false
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "lodash",
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk",
        "style": true
      }
    ]
  ]
}
